:root {
    --border-color: #dae2ef;
    --header-color: #dbb7b9;
    --header-color2: #c0b0b1;
    --link-color: #90dcf8;

    --input-border: #7b7b7b;

    --text-color: #ffffff;

    --lighter-gray2: rgb(165, 165, 165);
    --lighter-gray: rgb(100, 100, 100);
    --light-gray: rgb(78, 78, 78);
    --medium-gray: rgb(50, 50, 50);
    --dark-gray: rgb(34, 34, 34);

    --transparent: rgba(0, 0, 0, 0);

    --correct-answer: #5dff57;
    --wrong-answer: #ff4848;

    --speaker-button: url(play-dark.png);
    --shortcuts-image: url(shortcuts-dark.png);

	--A-OTF-BokutohNStd-Regular-example: url("fonts_dark/A-OTF-BokutohNStd-Regular/ぎ.png");
	--A-OTF-FolkPro-Regular-example: url("fonts_dark/A-OTF-FolkPro-Regular/ぎ.png");
	--A-OTF-HappyNStd-Regular-example: url("fonts_dark/A-OTF-HappyNStd-Regular/ぎ.png");
	--A-OTF-KumoyaStd-Regular-example: url("fonts_dark/A-OTF-KumoyaStd-Regular/ぎ.png");
	--A-OTF-KyokaICAPro-Regular-example: url("fonts_dark/A-OTF-KyokaICAPro-Regular/ぎ.png");
	--A-OTF-Shuuei3Std-Regular-example: url("fonts_dark/A-OTF-Shuuei3Std-Regular/ぎ.png");
	--A-OTF-ZenGoNStd-Regular-example: url("fonts_dark/A-OTF-ZenGoNStd-Regular/ぎ.png");
	--ArmedBanana-example: url("fonts_dark/ArmedBanana/ぎ.png");
	--hiragino-kaku-example: url("fonts_dark/hiragino-kaku/ぎ.png");
	--DFCry5_0-example: url("fonts_dark/DFCry5_0/ぎ.png");
	--DFMrg3_0-example: url("fonts_dark/DFMrg3_0/ぎ.png");
	--F5AJCCPE_0-example: url("fonts_dark/F5AJCCPE_0/ぎ.png");
	--F5AJCMHG-example: url("fonts_dark/F5AJCMHG/ぎ.png");
	--MT_TARE-example: url("fonts_dark/MT_TARE/ぎ.png");
	--SM-WIN-example: url("fonts_dark/SM-WIN/ぎ.png");
	--SNsanafon-example: url("fonts_dark/SNsanafon/ぎ.png");
	--sea-example: url("fonts_dark/sea/ぎ.png");
	--KOI-WIN-example: url("fonts_dark/KOI-WIN/ぎ.png");
	--sakamata-font-500-nostrict-example: url("fonts_dark/sakamata-font-500-nostrict/ぎ.png");
}

@media (prefers-color-scheme: light) {
    :root {
        --border-color: #dae2ef;
        --header-color: #8e6264;
        --header-color2: #6f4749;
        --link-color: #4d99b7;

        --input-border: #eeeeee;

        --text-color: #000000;

        --lighter-gray: rgb(211, 211, 211);
        --light-gray: #f7f7f7;
        --medium-gray: #ffffff;
        --dark-gray: #eef5ed;

        --transparent: rgba(0, 0, 0, 0);

        --correct-answer: #048600;
        --wrong-answer: #860000;

        --speaker-button: url(play-light.png);
        --shortcuts-image: url(shortcuts-light.png);

		--A-OTF-BokutohNStd-Regular-example: url("fonts_light/A-OTF-BokutohNStd-Regular/ぎ.png");
		--A-OTF-FolkPro-Regular-example: url("fonts_light/A-OTF-FolkPro-Regular/ぎ.png");
		--A-OTF-HappyNStd-Regular-example: url("fonts_light/A-OTF-HappyNStd-Regular/ぎ.png");
		--A-OTF-KumoyaStd-Regular-example: url("fonts_light/A-OTF-KumoyaStd-Regular/ぎ.png");
		--A-OTF-KyokaICAPro-Regular-example: url("fonts_light/A-OTF-KyokaICAPro-Regular/ぎ.png");
		--A-OTF-Shuuei3Std-Regular-example: url("fonts_light/A-OTF-Shuuei3Std-Regular/ぎ.png");
		--A-OTF-ZenGoNStd-Regular-example: url("fonts_light/A-OTF-ZenGoNStd-Regular/ぎ.png");
		--ArmedBanana-example: url("fonts_light/ArmedBanana/ぎ.png");
		--hiragino-kaku-example: url("fonts_light/hiragino-kaku/ぎ.png");
		--DFCry5_0-example: url("fonts_light/DFCry5_0/ぎ.png");
		--DFMrg3_0-example: url("fonts_light/DFMrg3_0/ぎ.png");
		--F5AJCCPE_0-example: url("fonts_light/F5AJCCPE_0/ぎ.png");
		--F5AJCMHG-example: url("fonts_light/F5AJCMHG/ぎ.png");
		--MT_TARE-example: url("fonts_light/MT_TARE/ぎ.png");
		--SM-WIN-example: url("fonts_light/SM-WIN/ぎ.png");
		--SNsanafon-example: url("fonts_light/SNsanafon/ぎ.png");
		--sea-example: url("fonts_light/sea/ぎ.png");
		--KOI-WIN-example: url("fonts_light/KOI-WIN/ぎ.png");
		--sakamata-font-500-nostrict-example: url("fonts_light/sakamata-font-500-nostrict/ぎ.png");
    }
}

body {
	font-family: Verdana;
	background-color: var(--dark-gray);
	color: var(--text-color);
}

a {
	color: var(--link-color);
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
}

h1 {
	text-align: center;
	color: var(--header-color);
}

table {
	border-collapse: collapse;
	border: 1px solid var(--border-color);
}
td {
	border-left: 1px solid var(--border-color);
	border-right: 1px solid var(--border-color);
	text-align: center;
	padding: .3em .4em;
}

.checkrow {
	background-color: var(--light-gray);
}

.kana {
	font-size: 140%;
	white-space: nowrap;
}

#rikaichan-window {
	display: none!important;
}

.romaji {
	white-space: nowrap;
	display: block;
	font-size: 85%;
}

#kanabox {
	margin: auto;
	width: 42em;
	padding: .7em 2em 0em 2em;
	background-color: var(--medium-gray);
	border-radius: 3px;
}

#options {
	margin: 1.5em auto;
	width: 46em;
	padding: 0;
	background-color: var(--medium-gray);
	border-radius: 3px;
}

#options_inner {
	padding: 0 1.4em 1.4em 1.4em;
}

h2 {
	background-color: var(--light-gray);
	color: var(--header-color);
	margin: 0;
	padding: .3em .5em;
	border-radius: 3px 3px 0px 0px;
}

h3 {
	color: var(--header-color);
	border-bottom: 1px dotted var(--header-color2);
	padding-bottom: 9px;
	padding-left: .4em;
	margin-top: 1.6em;
}

.checkall a {
	color: var(--link-color);
	cursor: pointer;
}

.checkall {
	float: right;
	font-size: 85%;
}

h2 .checkall {
	font-size: 70%;
	padding-top: 3px;
}

#kana_con {
	text-align: center;
	font-size: 300%;
	height: 60px;
}

#kana_con:has(#kana_image),
#kana_con:has(#stroke) {
	max-height: 60px;
}

#stroke {
	height: 60px;
	margin: 0;
	padding: 0;
}

#kana_image {
	height: 60px;
	margin: 0;
	padding: 0;
}

#input {
	text-align: center;
	margin-top: .8em;
}

#input_box {
	width: 16em;
	border: 1px solid var(--input-border);
	padding: 6px;
	text-align: center;
	font-size: 100%;
	color: var(--text-color);
	background-color: var(--dark-gray);
}

ul#tools, #count {
	margin-top: 1em;
	font-size: 78%;
}

ul#tools {
	padding: 0px;
	display: inline-block;
}

ul#tools li {
	display: inline;
	list-style-type: none;

	margin-right: 1.2em;
	font-weight: bold;
}

ul#tools li a {
	color: var(--link-color);
	cursor: pointer;
}

#theme {
	margin-top: 1em;
	height: max-content;
	font-size: 78%;
}

.row {
	display: flex;
	justify-content: space-between;
	height: max-content;
}

#right-row {
	display: flex;
	justify-content: center;
}

#count {
	float: right;
	padding-right: 1em;
}

#show_options {
	display: none;
}
#show_options + div {
	display: none;
}
#show_options:checked + div {
	display: block;
}

#message {
	text-align: center;
	font-size: 90%;
	margin-top: 1em;
}

#answer {
	text-align: center;
	margin-bottom: .4em;
	font-size: 90%;
	visibility: hidden;
}

#wrong {
	color: var(--wrong-answer);
}

.font_example {
	font-size: 2.2em;
}

.font_example_image {
	width: 47px;
}

.A-OTF-BokutohNStd-Regular-example { content: var(--A-OTF-BokutohNStd-Regular-example); }
.A-OTF-FolkPro-Regular-example { content: var(--A-OTF-FolkPro-Regular-example); }
.A-OTF-HappyNStd-Regular-example { content: var(--A-OTF-HappyNStd-Regular-example); }
.A-OTF-KumoyaStd-Regular-example { content: var(--A-OTF-KumoyaStd-Regular-example); }
.A-OTF-KyokaICAPro-Regular-example { content: var(--A-OTF-KyokaICAPro-Regular-example); }
.A-OTF-Shuuei3Std-Regular-example { content: var(--A-OTF-Shuuei3Std-Regular-example); }
.A-OTF-ZenGoNStd-Regular-example { content: var(--A-OTF-ZenGoNStd-Regular-example); }
.ArmedBanana-example { content: var(--ArmedBanana-example); }
.hiragino-kaku-example { content: var(--hiragino-kaku-example); }
.DFCry5_0-example { content: var(--DFCry5_0-example); }
.DFMrg3_0-example { content: var(--DFMrg3_0-example); }
.F5AJCCPE_0-example { content: var(--F5AJCCPE_0-example); }
.F5AJCMHG-example { content: var(--F5AJCMHG-example); }
.MT_TARE-example { content: var(--MT_TARE-example); }
.SM-WIN-example { content: var(--SM-WIN-example); }
.SNsanafon-example { content: var(--SNsanafon-example); }
.sea-example { content: var(--sea-example); }
.KOI-WIN-example { content: var(--KOI-WIN-example); }
.sakamata-font-500-nostrict-example { content: var(--sakamata-font-500-nostrict-example); }

#explanation {
	line-height: 1.6em;
}

.help {
	cursor: help;
	border-bottom: 1px dotted var(--lighter-gray2);
}

.speaker-button {
	content: var(--speaker-button);
    user-select: none;
}

.shortcuts-image {
	min-width: 277px;
	min-height: 326px;
}

.shortcuts-image:hover {
	content: var(--shortcuts-image)
}
